.skills__container {
    margin-top: 25vh;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 769px) {    
    .skills__container {
        flex-direction: column;
        margin-top: 0;
    }
}

@media screen and (max-width: 376px) {    
    .skills__container {
        max-width: 375px;
        align-items: center;
    }
}

@media screen and (max-width: 321px) {    
    .skills__container {
        max-width: 320px;
        
    }
}