.about-me__profession{
    font-weight: 500;
    font-size: 22px;
    line-height: 20px;
    color: #000000;
    margin: 18px 0 26px;
}

@media screen and (max-width: 769px) {    
    .about-me__profession {
        font-size: 12px;
        line-height: 18px;
        margin: 0;
    }
}

@media screen and (max-width: 400px) {    
    .about-me__profession {
        font-weight: 500;
        font-size: 11px;
        line-height: 16px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}