.about-me__links{
    margin-top: 100px;
    display: grid;
    grid-template-columns:  max-content max-content;
    list-style-type : none;
    padding: 0;
}

@media screen and (max-width: 769px) {    
    .about-me__links {
        margin-top: 56px;
    }
}

@media screen and (max-width: 426px) {    
    .about-me__links {
        margin-top: 40px;
    }
}

@media screen and (max-width: 321px) {    
    .about-me__links {
        margin-top: 15px;
    }
}