@media screen and (max-width: 769px) {    
    .about-me__profile-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media screen and (max-width: 426px) {    
    .about-me__profile-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }
}