.about-me__description {
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
    color: #000000;
    margin: 0;
    max-width: 600px;
}

@media screen and (max-width: 769px) {
    .about-me__description {
        font-size: 12px;
        line-height: 18px;
        width: 75%;
    }
}

@media screen and (max-width: 426px) {
    .about-me__description {
        font-size: 15px;
        text-align: justify;
    }
}