.skills {
    width: 100%;
    height: 85vh;
    margin-top: 50px;       
}

@media screen and (max-width: 769px) {    
    .skills {
        display: flex;
        justify-content: center;
        height: 100%;
    }
}