.footer__links{
    display: grid;
    grid-template-columns:  max-content max-content max-content;
    list-style-type : none;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

@media screen and (max-width: 550px) {    
    .footer__links {
        margin-right: 10px;

    }
}

@media screen and (max-width: 410px) {    
    .footer__links {
        grid-template-columns:  max-content;
        padding-left: 0;
        row-gap: 12px;
        text-align: center;
    }
}