.promo__subtitle_delay {
    
    width: 30ch;
   
    animation: cursor 0.75s step-end 18 forwards, printed_text 3s steps(30) 9s, showDiv 9.1s forwards;
  }
  
  @keyframes cursor {
    0% {
      border-color: rgb(0, 0, 0);
    }
  
    50% {
        border-color: transparent;
      }
  
    100% {
      border-color: rgb(255, 255, 255);
    }
  }
  
  @keyframes printed_text {
    from {
      width: 0;
    }
  }

  @keyframes showDiv {
    0%,
    99% {
        max-height: 0;
    }
    100% {
        max-height: 999px;
    }
}