.promo__link {
    color: #000000;
    cursor: pointer;
    font-family: font-file-82132;
    font-weight: 400;
    font-size: 20px;
    font-family: monospace;
    font-size: 30px;
    text-decoration: none;
}

@media screen and (max-width: 426px) {
    .promo__link {
        font-size: 20px;
    }
}