.about-me{
    padding: 150px 0 20px;
    max-width: 100%;
    background-color: #ffffff;
    border-top: 3px black solid;
    border-bottom: 3px black solid;
    height: 69vh;
}

@media screen and (max-width: 910px) {    
    .about-me {
        padding: 80px 0 53px;
    }
}

@media screen and (max-width: 769px) {
    .about-me {
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 426px) {    
    .about-me {
        height: 110vh;
        padding: 20px 0 20px;
    }
}